<div class="container bg-white border" *ngIf="(pictures$ | async ) as picture">
    <div class="row">
      <div class="col-lg-8">
        <app-picture [url]="picture.url" [description]="picture.description"></app-picture>
      </div>
  
      <div class="col-lg-4 p-4">
        <small>
          <p class="text-left break-word">{{picture.description}}</p>
          <hr>
        </small>
        <app-picture-comments [pictureId]="pictureId"></app-picture-comments>
      </div>
    </div>
  </div>