<header class="fixed-top">
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand">
            <i class="fa fa-bars mr-2" (click)="menu.toggle()"></i>
            ESTERPIC</a>
        <app-menu #menu></app-menu>
        <div *ngIf="(user$ | async) as user; else login;">
            <i class="fa fa-user-circle mr-1"></i>
            <a class="mr-1">{{user.name}}</a>
            <button type="button" class="btn btn-light btn-sm" (click)="logout()">(Logout)</button>
        </div>

        <ng-template #login>
            <a [routerLink]="['']" class="navbar-text">
                Please, login!
            </a>
        </ng-template>

    </nav>
    <app-loading></app-loading>

    <div class="float-right mr-2">
        <app-alert></app-alert>
    </div>
</header>